.title {
    font-weight: 400;
}

.essay {
    margin-left: auto;
    margin-right: auto;
}


.border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee
}

.paragraph {
    line-height: 30px;
}

.note {

}

.image {
    
}